
.backlogo{
  width : 40px;
  align-self: flex-start;
  margin-left : 30px;
}

.container{
  display: flex;
  flex-direction: column;
  gap : 30px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 15px;
  height : 80vh;
  box-sizing: border-box;
  position: relative;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
  gap : 20px;
}

.field{
  display : flex;
  flex-direction: column;
  line-height: 12px;
  width: 250px;
}

input, select{
  height : 40px;
  border-radius: 5px;
  border : 1px solid black;
}

input, input::placeholder, textarea, textarea::placeholder{
  font-family: 'Inter';
  font-size: 20px;
}

select{
  font-size : 20px;
}

.area{
  height: 150px;
  border-radius: 5px;
  border : 1px solid black;
}

@media(min-width : 992px){
  .backlogo{
    position: absolute;
    left: 20px;
    top : 20px;
  }
}
