<div class="container">
  <img class="logo" src="assets/logo_p6.png" alt="logo">
  <img (click)="showMenu()" class="burger-menu" src="assets/menu-burger.png" alt="menuburger">
</div>

<div class="container2">
  <img class="logo" src="assets/logo_p6.png" alt="logo">
  <div class="menu">
    <p><a [routerLink]="['/articles']">Articles</a></p>
    <p><a [routerLink]="['/themes']">Thèmes</a></p>
    <img [routerLink]="['/user']" class="profil-logo" src="assets/profil-logo.png" alt="profil">
  </div>

</div>
