.container, .container2{
  height : 12vh;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  position: sticky;
  top:0px;
  z-index: 50;
}

.container2{
  display: none;
}

.logo{
 height : 80%;
}

.burger-menu{
  height : 25px;
}


.profil-logo{
  height : 55px;
  width: 55px;
}

@media(min-width : 992px){
  .container{
    display: none;
  }

  .container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 15%;
    min-width: 350px;
    font-size: 20px;
    padding-right: 30px;

  }

  a{
    text-decoration: none;
    color: black;
  }
}
