
.backlogo{
  width : 40px;
  align-self: flex-start;
}

.author-and-date-theme{
  display: flex;
  align-self: start;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.theme{
  align-self: start;
}

.desktop{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  min-height : 80vh;
  box-sizing: border-box;
}

.arrow-and-title{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.comments{
  display : flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.comments div{
  display: flex;
  flex-direction: column;
  position: relative;
}

.comments div .username{
  align-self: flex-end;
}

textarea{
  height: 110px;
  border-radius:10px;
}

textarea::placeholder{
  font-size: 20px;
}

.send{
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

///////////////////// MEDIA QUERIES
///
// penser à .mobile {display:none}
