/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/////////// VARIABLES CSS //////////////////

:root{
  --btn-purple : #7763C5;
  --bg-card : #F5F5F5;
}

.submit-button{
  background-color: var(--btn-purple);
  color : white;
  height : 35px;
  border-radius: 5px;
  border: 0px solid transparent;
  width : 120px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Inter';
}

.error-color{
  background-color: #d3302f;
  color : white;
}

.error-color .mat-simple-snackbar-action{
  color : white;
}

.error-text{
  color : #d3302f;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--bg-card);
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
