.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50vh;
  padding-top: 100px;
}

.logo{
  width: 70vw;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height : 150px;
}

.whi{
  color : black;
  border: 1px solid black;
  background-color: white;
  font-weight: 400;
}
